.xc>.topv{background-color: #fff;padding-top: 10px;padding-left: 10px;padding-right: 10px;}
.xc{padding: 0px;}
.bg2{background-color: #fff;}
.thr{overflow: hidden;}
.topv .fa{margin-right: 15px;}
.topv .rg1{margin-right: 13px;}
.topv .rg2{margin-left: 13px;margin-right: 5px;}
.topv .topr{text-align: right;}
.top{padding-top: 20px;height: 20px;background-color: #fff;}
.top div{background-color: #fff;}
.top .top-r>div{display: inline;background-color: #fff;}
.top .top-r{text-align: right;}
.top .top-r>div:FIRST-CHILD{margin-right: 20px;}
.login-links{letter-spacing: 6px;text-align: right;margin-left: 30px;}
.xc .header{margin-bottom: 0px;}
.login-links a:FIRST-CHILD{padding-right: 10px;}
.login-links a:LAST-CHILD{padding-left: 10px;}
.header{margin-bottom: 20px;}
.header,.header .logo{height: 85px;}
.header .logo{background-repeat: no-repeat;background-size:100%;width: 300px;}
.header .navbar-nav{padding-top: 20px;float: right;}
.header .row,.header .row >div{height: 100%}
.swiper-c1{position:relative;left:0px; height: 400px;margin-bottom: 20px;}
.swiper-c1 .carousel-inner>.item>a>img, .swiper-c1 .carousel-inner>.item>img{height: 400px;}
.navbar-nav li{padding-left: 5px;padding-right: 5px;font-family: "Microsoft YaHei";font-size: 16px;color: #666666;}
.navbar-nav li a{color: #000;letter-spacing: 5px;}
.sbtitle{margin: 0px;overflow: hidden;margin-bottom: 30px;}
.sbtitle div{padding-left: 0px;padding-right: 0px;}
.sbtitle .title{text-align: center; background-color: #4fabfe;padding-top: 10px;padding-bottom: 10px;border-radius: 60px;color: #fff;font-size: 20px;font-weight: bold;letter-spacing: 10px;}
.sbtitle hr{border-color: #4fabfe;border-width: 2px;}
.h-tp1>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border: 0px;}
.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.h-tp1>li.active>a{color: #4fabfe;font-weight: bold;}
.nav-tabs>li>a:focus, .nav>li>a:hover{background-color: #fff;border: 0px;}
.h-tp1>li>a{color: #807f7f;}
.newly-topic{padding-top: 20px;}
#newly_topic .c2{text-align: right;}
#newly_topic .tr_topic{padding-left: 0px;padding-bottom: 18px;}
.newly-register .rimg{padding-bottom: 15px;}
.newly-register .rdesc{font-weight: bold;}
.new-users-carousel{text-align: center;}

.new-users-carousel .carousel-inner>.item{-webkit-transition: -webkit-transform 2s ease-in-out;-o-transition: -o-transform 2s ease-in-out;transition: transform 2s ease-in-out;}
.newly-graduate .mide{padding-left: 9%}
.newly-graduate .right{text-align: right;}
.tr_topic .fa{font-size: 8px;color:#0a4684;margin-right: 20px;}
.more{margin-top: 30px;text-align: center;margin-bottom: 30px;}
.more button{background-color: #fff;;border: 1px solid #eee; font-size: 10px;padding-bottom: 6px;padding-top: 6px;padding-left: 25px;padding-right: 23px;}
.class_selects{overflow: hidden;}
.class_selects .tqr{position:absolute;top:205px;color:#fff;opacity:0.5; font-size: 20px;background-color: #ff0000;padding-left: 20px;width: 92.5%;}

.newly-carousel .carousel-indicators{text-align: right; left: 30%;padding-right: 10px;width: 100%;top: 88%;}
.newly-carousel img{height: 260px;}
.newly-carousel>.carousel-inner>.item>a>img, .newly-carousel>.carousel-inner>.item>img{height: 260px;}

.newly-carousel .bottom{position: absolute;z-index: 2;width: 100%;opacity: 0.6;line-height: 50px;padding-left: 20px;background-color: #fe0000;top: 80.5%;}
.class_selects img{width: 100%;}
.class_selects .price{padding-top: 6px;font-weight: bold;}
.home_pane{padding-bottom: 20px;}
.footer{background-color: #3e3e3e;color: #dde1d2;padding-top: 40px;padding-bottom: 50px;margin-top: 20px;}
.footer .links{overflow: hidden;margin-left: 18%;}

.footer .links li{float: left;padding-left: 20px;padding-right: 20px;border-right: 1px solid #dde1d2;list-style: none;}


.breadcrumb{background-color: #fff;}
		.breadcrumb>li+li:before{content: "> "}
		.breadcrumb a{color: #000;}
		.breadcrumb>.active>a{color: blue;}
		
.top .popover {width: 250px;overflow: hidden;border-radius: 0px;z-index: 13;}
.top .popover img{width: 100%;height: auto;}
.page-search{padding: 10px;}
.page-search .row{padding-bottom: 20px;}
.bg1{background-color: #f2f2f2;}
.page-sorts{overflow: hidden;margin-top: 20px;margin-bottom: 20px;padding-top: 15px;padding-bottom: 10px;}
.sorts a{text-decoration: none;margin-right: 15px;}
.sorts .nav{float: left;position: relative;left: 260px;overflow: hidden;}

.sorts .show-type .nav{border: 0px;}
.sorts .show-type .nav-tabs>li>a,
.sorts .show-type .nav-tabs>li.active>a,
.sorts .show-type .nav-tabs>li.active>a:focus,
.sorts .show-type .nav-tabs>li.active>a:hover{border: 0px;background-color: inherit;cursor:pointer;}
.sorts .show-type .nav>li>a{padding: 0px;}
.sorts .show-type .nav-tabs>li>a{color: #808080;margin-right: 20px;}
.sorts .show-type .nav-tabs>li.active>a{color: #199ed8;}
.pl-tabcontent>.list-type .pl-left>img{width:280px;height: auto; }
.pl-tabcontent>.list-type .pl-right .price{color: #ff8400;font-size: 20px;font-weight: bold;letter-spacing: 1px;border-bottom: #e3e3e3 1px dashed;padding-bottom: 15px;margin-bottom: 15px;}
.pl-tabcontent>.list-type .pl-right .price>.jl-name{color: #666;}
.jl-price{padding-right: 100px;text-align: right;}
.pl-tabcontent>.list-type .pl-right .txtdesc{font-size: 18px;color: #666;}
.pl-tabcontent>.list-type .pl-right .txtdesc.address{padding-left: 10px;}
.pl-tabcontent>.list-type .pl-right .txtdesc.address>.fa{margin-left: 15px;}
.pl-tabcontent>.list-type .pl-right .fa{color: #5886fe;margin-right: 15px;}
.pl-tabcontent>.list-type .txtdesc{padding-bottom: 12px;}
.pl-tabcontent>.list-type>.row{padding-bottom: 30px;}
.pl-tabcontent .pl_grid_r{font-size: 13px;}
.pl-tabcontent .pl_grid_r>.title{font-weight: bold;height: 40px;text-overflow: -o-ellipsis-lastline;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical;max-width: 300px;}
.pl-tabcontent .pl_grid_r>.price,.pl-tabcontent .pl_grid_r>.address,.pl-tabcontent .pl_grid_r>.title{padding-top: 5px;}
.pl-tabcontent .pl_grid_r>.address>i{margin-left: 10px;font-size: 16px;}
.pl-tabcontent .pl_grid_r>.price{color: #ff8400;font-size: 20px;letter-spacing: 1px;}


.concat-page{background-color: #f2f2f2;padding: 0px;padding-top: 20px;}
.cl-panel ul>li{list-style: none;padding: 10px;width: 100%;margin: 0px;text-align: center;}
.cl-panel ul>li a{text-decoration: none;color: inherit;}

.cl-panel ul{background-color: #fff;width: 160px;padding: 0px;color: #fff;}

.cl-panel ul>li:FIRST-CHILD{background-color: #11376f;}
.cl-panel ul>.cl-2{background-color: #199ed8;}
.cl-panel ul>li:LAST-CHILD{background-color: #fff;color: #000;}
.cr-panel{background-color: #fff;padding-left: 20px;padding-right: 20px;}
.newly-list>.row{padding-left: 30px;padding-bottom: 40px;}
.newly-list>.row .rdesc{padding-top: 20px;}
.high-search{float: right;padding-right: 40px;}
.high-p-s{display: none;}

/**
�γ�
**/
.poster-main{position: relative;width: 900px;height: 270px;margin:0 auto;}
.poster-main >.poster-list >li{list-style: none;}
.poster-main a,.poster-main img{display:block;}

.poster-main .poster-list{width: 900px;height: 270px;}

.poster-main .poster-list .poster-item{position: absolute;left: 0px;top: 0px}

.poster-main .poster-btn{position: absolute;height: 100%;width:100px;top: 0px;z-index: 10;opacity: 0.5;}

.poster-main .poster-prev-btn{ left: 0px; }
.bg2{background-color: #fff;}

.poster-main .poster-next-btn{right: 0px; }
.concat .fa{color: #199ed8;margin-right: 10px;font-size: 18px;}
.cr-panel h4{margin-bottom: 20px;}
.concat li{padding-bottom: 10px;list-style: none;padding-top: 5px;}
.btn1{border: 1px solid #f2f2f2;padding-left: 30px;padding-right: 30px;margin-top: 20px;}
.detail .detail-panel{background-color: #fff;padding-left: 20px;padding-top: 40px;}
.detail .detail-panel.crondi >div{padding-bottom: 5px;}
.detail .detail-panel .crondi >div>span:FIRST-CHILD{width: 80px;display:inline-block;}
.detail .detail-panel .p-desc{padding-bottom: 20px;font-size: 18px;color: #666;font-weight: bold;}
.detail .detail-panel .p-desc>.price{color: #ff8400;display: inline;margin-right: 30px;}
.detail .detail-panel .crondi>p{padding-left: 10px;}
.detail-inf .d-title{border-bottom: 1px solid #f2f2f2;margin-right: 8px;padding-top: 30px;margin-bottom: 20px;background-color: #fff;}
.detail-pingru{padding-top: 50px;overflow: hidden;}
.detail-pingru .d-title .btn,.detail-inf .d-title .btn{padding-left:40px;padding-right:40px;border-radius:0px;color:#fff; background-color: #199ed8;}
.detail-pingru .row{border-bottom: 1px solid #f2f2f2;padding: 0px;margin: 10px;padding-bottom: 20px;padding-top: 20px;vertical-align: middle;}
.detail-pingru .row>div{padding: 0px;}
.detail-pingru .row>div.d-huiyuan{text-align: right;padding-right: 40px;}
.p-leve .i-l{margin-right: 40px;display: inline-block;}
